@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color: beige;
}

.container {
    margin:0 auto;
    max-width: 65rem;
    min-width: 20rem;
}

    .container h1 {
        font-size: 2.5rem;
    }

.container * {
    transition: .5s ease;
}

    .radio-container {
        display: flex;
        flex-direction: column;
        border: solid gray;
        border-width: 0.13rem 0 0;
    }

    .radiobox {
        appearance: none;		
    }

    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: blue;
        cursor: pointer;
    }
    
    span {
        align-self: normal;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem;
    }
    
        .arrow {
            border: solid black;
            border-width: 0 0.25rem 0.25rem 0;
            display: inline-block;
            padding: 0.25rem;
            transform: rotate(-45deg);
        }
    
    img {
        opacity: 0;
        max-height: 0;
        width: fit-content;
    }
    
    .radiobox:hover ~ label > img,
    .radiobox:checked ~ label > img,
    img:hover {
        opacity: 1;
        max-height: 40vh
    }
    
    .container:hover label,
    .radiobox:checked ~ label {
        color: black;
    }
    
    .radiobox:hover ~ label .arrow,
    .radiobox:checked ~ label .arrow {
        transform: rotate(45deg);;
    }